:root{
    --main-color:#f50;
    --dark-gray:rgb(78, 78, 78);
    --light-gray:rgb(117, 117, 117);
}

.song{
    display: flex;
    width:100%;
    position: relative;
    height:16em;
    margin-bottom: 3em;
    border-bottom: 1px solid rgb(231, 229, 229);
}
.song-content{
    display: flex;
    width: 100%;
    height:14em;
}
.artist-info{
    align-items:center;
    margin-top: 10px;
    height: 6em;
}
.info, .all-controls{
    width:100%;
   flex-direction: column;
}
.musci-tittle, .artist-name{
    font-size:2em;
}
.slider_container, .all-controls, .artist-info, .info{
    display: flex;
}
.song-artist{
    height: 100%;
    margin-right: 2em;
}
 .song-artist img{
    height: 100%;
}
.hide{
    display: none;
}
.buttons{
    cursor: pointer;
    height:60px;
    width:60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: .6em;
    background:yellow;
}
.fa-play-circle{
    color: var(--main-color);
    font-size: 4em;
}
.musicPlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.current-music{
    position:fixed;
    width: 100%;
    left: 0;right: 0;
    top: 94%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#fff;
    border-top: 1px solid rgb(209, 209, 209);
}
.current-music audio{
    width: 40%;
    background-color: orangered;
};

.current-music audio::-webkit-media-controls-enclosure,
.current-music audio::-moz-media-controls-enclosure,
 .current-music audio::-ms-media-controls-enclosure,
 .current-music audio::-o-media-controls-enclosure{
    border-radius: 0;
}